<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>directive demo</title>
	<link rel="stylesheet" type="text/css" href="./directive.css">
	<script type="text/javascript" src="../lib/angular-1.5.0/angular.min.js"></script>
	<script type="text/javascript" src="./directive.js"></script>
</head>
<body ng-app="simpleModal">
	<div ng-controller="modalCtrl">
		<button ng-click='toggleModal()'>open Modal
		</button>

		<!--directive scope demo
		在angularjs 启动的时候，会自动创建一个rootScope 对象。 创建controller和directive 的时候，会自动创建自己的私有scope对象，私有scope从rootScope继承. 
		Directive 中的scope 
		所有的directives 都有自己的 scope 对象。 在默认的情况下，directive  不会创建他们自己的scope. 他们会用他们父对象的scope作为自己的scope.  但是 angularjs 允许改变这种默认行为。
		可以通过下面的方式将值从parent 对象中传递到 directive 中。
5
		传值有以下三种方式：

 		通过 @ 传值  （字符串绑定，one way binding(单向绑定）,就是传递字符串到directive 进行显示)，在调用directive 的时候，需要对 attribute 使用 {{}} 进行传值。
 		通过  = 传值   (模型 绑定， two way bingding（双向绑定）） 在调用directive 的时候，需要对 attribute 使用  模型名称  进行传值。
 		通过 &　传值 （方法绑定）
		-->
		<modal-window show="modalShown" width='400px' height='%60'>
		<p>Hello Simple Modal Window</p>
		</modal-window>
	</div>

	<script type="text/ng-template" id="modal.html">
		<div ng-show='show'>
			<div class='modal-overlay' ng-click='hideModal()'>
			</div>
			<div class='modal-background' ng-style='windowStyle'>
				<div class='modal-close' ng-click='hideModal()'>X
				</div>
				<div class='modal-content' ng-transclude>
				</div>
			</div>
		</div>
	</script>
</body>
</html>