<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ngRepeat Demo</title>
    <script type="text/javascript" src="../../js/lib/angular-1.5.0/angular.min.js"></script>
</head>
<body ng-app="RepeatAppDemo">
<div  ng-controller="RepeatDemoCtrl">
    <div>
        <input type="text"  ng-model="person.name">
        <input type="text" ng-model="person.age">
        <a ng-click="add()">add</a>
    </div>
    <div  ng-repeat="person in persons track by $index">
        {{person.name}}
        <a ng-show="0==0" style="color:red" ng-click="del($index)">delete</a>
    </div>
</div>
<div ng-controller="Test">
    <button ng-click="request()">request data</button>
    <div ng-repeat="user in users">
        {{user.name}}
    </div>
</div>
<div>
    <table  ng-show="items.length!=0" ng-controller="CartController">
        <caption>我的购物车</caption>
        <tr>
            <th>序号</th>
            <th>商品</th>
            <th>单价</th>
            <th>数量</th>
            <th>金额</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{$index + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price | currency}}</td>
            <td><input ng-model="item.quantity"></td>
            <td>{{item.quantity * item.price | currency}}</td>
            <td>
                <button ng-click="remove($index)">Remove</button>
            </td>
        </tr>
    </table>
</div>
<script  type="text/javascript">

    angular.module("RepeatAppDemo", [])
            .controller("RepeatDemoCtrl", function($scope){
                $scope.person={};
                $scope.persons=[];
                $scope.add=function(){
                  // var obj={id:101, age:30, name:"李四"};
                    $scope.persons.push( $scope.person);
                };
                $scope.del = function(idx){
                    $scope.persons.splice(idx, 1);
                }
            })
            .controller('Test', function($scope){
                var users = [];
                for (var i = 0; i < 10; i++){
                    users[i] = {
                        id : i,
                        name : "User: " + i
                    };
                }
                $scope.users= users;
                $scope.request = function () {
                    // 从服务器加载新数据
                    var result = [];

                    // 直接重新赋值给 users
                    $scope.users = result;
                };
            })
            .controller('CartController', function($scope){
                $scope.items = [
                    {name: "雷柏（Rapoo） V500 机械游戏键盘 机械黄轴", quantity: 1, price: 199.00},
                    {name: "雷柏（Rapoo） V20 光学游戏鼠标 黑色烈焰版", quantity: 1, price: 139.00},
                    {name: "AngularJS权威教程", quantity: 2, price: 84.20}
                ];

                $scope.remove = function (index) {
                    $scope.items.splice(index, 1);
                }
            })
</script>
</body>

</html>