<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>select demo</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap-3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="../../js/lib/angular-1.5.0/angular.min.js"></script>
</head>
<body ng-app="selectApp" ng-controller="selectCtrl">
	<div >
		<select ng-model="selectModel1" ng-change="selectChange(selectModel1)">
			<option value="0" ng-hide="false">---</option>
			<option value="1" ng-selected="true">河南</option>
			<option value="2">河北</option>
			<option value="3">湖北</option>
		</select>
	</div>

	<select ng-model="selected2" ng-change="changed(selected2)">
		<option value="0">--Please Select--</option>
		<option ng-repeat="row in model" value="{{row.id}}"	>{{row.productName}}</option>
	</select>

	<select ng-model="selected" ng-options="m.id as m.productName for m in model" ng-change="changed(selected)">
		<option value="" style="display:none">--Please Select--</option>
	</select>

	<select ng-model="selected" ng-options="m.id  for m in model" ng-change="changed(selected)">
		<option value="" style="display:none">--Please Select--</option>
	</select>
	<!--
		select 设置默认选项
	-->
	<div >
		<select ng-model="current_option" ng-options="option.value as option.key for option in options" ng-change="selectChange(current_option)">
			<option value="" style="display:none">--Please Select--</option>
		</select>
	</div>

	<!--
		select 实现联动
	-->
	<div>
		<select  ng-model="option_p" ng-options="province.key for province in provinces"  ng-change="change_city()">
		</select>
		<select ng-model="option_c" ng-options="city.key for city in citys" ng-change="selectChange(option_c)"></select>
	</div>

	<div>
		<select  ng-model="person_option" ng-options="person.id for person in persons" >
		</select>
		<select ng-model="interest_option" ng-options='interest for interest in  persons[person_option.id].interest' ></select>
		<select ng-model="interest_option" ng-options='interest for interest in  person_option.interest' ></select>
	</div>


	<script type="text/javascript">
		angular.module('selectApp', [])
			.controller('selectCtrl', function($scope){
				$scope.selectChange = function(selectModel1){
					console.log(selectModel1);
					alert(selectModel1);
				};
				$scope.changed = function(select){
					console.log(select);
					alert(select);
				};

				$scope.isHide=true;					

				$scope.selected = '';
				$scope.model = [{
       				 id: 10001,
      				 mainCategory: '男',
 				     productName: '水洗T恤',
       				 productColor: '白'
    				 }, {
        			id: 10002,
        			mainCategory: '女',
        			productName: '圆领短袖',
        			productColor: '黑'
    				}, {
        			id: 10003,
       				mainCategory: '女',
        			productName: '短袖短袖',
        			productColor: '黃'
    				}];
				$scope.options = [
					{
						"id":2,
						"key" : 'hello',
						"value" : 1,
						'child': [
							11,
							12,
							13
						]
					},
					{
						"id":4,
						"key" : 'world',
						"value" : 2,
						'child':[
							14,
							15,
							16
						]
					}
				];
				$scope.current_option = 2;

				$scope.provinces=[
					{
						'key':'Hunan'
					},
					{
						"key":'HeNan'
					}
				];
				$scope.option_p=$scope.provinces[0];

				/**** 根据父下拉框当前显示内容设置子下拉框内容 ****/
				$scope.change_city = function ()                        // 这是方法, 调用执行
				{
					console.log($scope.option_p);
					if ("Hunan" == $scope.option_p.key)
					{
						$scope.citys = [
							{"key" : "hello_child_one", "value" : 1},
							{"key" : "hello_child_two", "value" : 2},
						];
					}
					else if ("HeNan" == $scope.option_p.key)
					{
						$scope.citys = [
							{"key" : "world_child_one", "value" : 3},
							{"key" : "world_child_two", "value" : 4},
						];
					}
					$scope.option_c = $scope.citys[0];  // 子下拉框默认显示内容
				}
				$scope.change_city();

				$scope.person_option={};
				$scope.interest_option={};
				$scope.persons = [
					{
						'id':1,
						'name':'zzh',
						'interest':[
								'football',
								'basketball',
								'tabletennes'
						]
					},{
						'id':2,
						'name':'lin',
						'interest':[
								'banana',
								'apple',
								'pear'
						]
					}
				];
			});
	</script>
</body>
</html>